<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.9.2 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7cdbe5627e5c95326fc2ad32e78f81e:66c8dca75cefaff2e8e29b2e09b20ccf:0824c4c993e0c27a51fb36750b7e5c2a$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>firefliesSpritesheet.1.png</string>
                <key>size</key>
                <string>{904,495}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies12.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{302,97}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{96,300}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies13.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{302,97}</string>
                        <key>textureRect</key>
                        <string>{{1,303},{299,96}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies8.png</string>
                        <key>spriteOffset</key>
                        <string>{0,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{302,97}</string>
                        <key>textureRect</key>
                        <string>{{1,401},{300,93}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies10.png</string>
                        <key>spriteOffset</key>
                        <string>{0,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{302,97}</string>
                        <key>textureRect</key>
                        <string>{{99,1},{95,300}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies11.png</string>
                        <key>spriteOffset</key>
                        <string>{0,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{302,97}</string>
                        <key>textureRect</key>
                        <string>{{196,1},{95,300}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies9.png</string>
                        <key>spriteOffset</key>
                        <string>{0,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{302,97}</string>
                        <key>textureRect</key>
                        <string>{{293,1},{94,300}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies14.png</string>
                        <key>spriteOffset</key>
                        <string>{0,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{302,97}</string>
                        <key>textureRect</key>
                        <string>{{302,303},{299,95}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{302,97}</string>
                        <key>textureRect</key>
                        <string>{{303,400},{299,94}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{302,97}</string>
                        <key>textureRect</key>
                        <string>{{603,1},{300,92}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies7.png</string>
                        <key>spriteOffset</key>
                        <string>{0,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{302,97}</string>
                        <key>textureRect</key>
                        <string>{{389,1},{92,300}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{302,97}</string>
                        <key>textureRect</key>
                        <string>{{483,1},{91,300}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies6.png</string>
                        <key>spriteOffset</key>
                        <string>{0,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{302,97}</string>
                        <key>textureRect</key>
                        <string>{{603,95},{300,91}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies4.png</string>
                        <key>spriteOffset</key>
                        <string>{0,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{302,97}</string>
                        <key>textureRect</key>
                        <string>{{603,188},{300,89}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies5.png</string>
                        <key>spriteOffset</key>
                        <string>{0,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{302,97}</string>
                        <key>textureRect</key>
                        <string>{{603,279},{300,89}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies15.png</string>
                        <key>spriteOffset</key>
                        <string>{0,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{302,97}</string>
                        <key>textureRect</key>
                        <string>{{604,370},{299,95}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>firefliesSpritesheet.1@2x.png</string>
                <key>size</key>
                <string>{1803,990}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies10@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{604,194}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{191,601}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies11@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{604,194}</string>
                        <key>textureRect</key>
                        <string>{{1,604},{600,191}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies9@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{604,194}</string>
                        <key>textureRect</key>
                        <string>{{194,1},{189,601}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies8@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{604,194}</string>
                        <key>textureRect</key>
                        <string>{{385,1},{187,601}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies7@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{604,194}</string>
                        <key>textureRect</key>
                        <string>{{574,1},{185,601}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies12@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{604,194}</string>
                        <key>textureRect</key>
                        <string>{{1,797},{599,191}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies13@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{604,194}</string>
                        <key>textureRect</key>
                        <string>{{602,797},{599,191}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies14@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{604,194}</string>
                        <key>textureRect</key>
                        <string>{{603,604},{599,191}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies1@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{604,194}</string>
                        <key>textureRect</key>
                        <string>{{1203,797},{599,187}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies15@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{604,194}</string>
                        <key>textureRect</key>
                        <string>{{1204,1},{598,189}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies6@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,12}</string>
                        <key>spriteSourceSize</key>
                        <string>{604,194}</string>
                        <key>textureRect</key>
                        <string>{{761,1},{182,601}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies3@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,13}</string>
                        <key>spriteSourceSize</key>
                        <string>{604,194}</string>
                        <key>textureRect</key>
                        <string>{{945,1},{181,601}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies4@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{604,194}</string>
                        <key>textureRect</key>
                        <string>{{1204,192},{179,601}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies5@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{604,194}</string>
                        <key>textureRect</key>
                        <string>{{1385,192},{179,601}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fireflies2@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{604,194}</string>
                        <key>textureRect</key>
                        <string>{{1566,192},{185,599}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
