<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.9.2 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef6f6d91a3b0459935ec1fb76aedb53a:7312a852ab3e1f2171977de5c8d21cb4:8120d6441094b3515c464e10774148d4$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>fireSpritesheet.1.png</string>
                <key>size</key>
                <string>{1243,221}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire5.png</string>
                        <key>spriteOffset</key>
                        <string>{1,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{111,184}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{161,108}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire12.png</string>
                        <key>spriteOffset</key>
                        <string>{1,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{111,184}</string>
                        <key>textureRect</key>
                        <string>{{164,1},{160,109}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire15.png</string>
                        <key>spriteOffset</key>
                        <string>{0,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{111,184}</string>
                        <key>textureRect</key>
                        <string>{{1,111},{160,109}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{111,184}</string>
                        <key>textureRect</key>
                        <string>{{326,1},{160,109}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{111,184}</string>
                        <key>textureRect</key>
                        <string>{{488,1},{160,109}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire1.png</string>
                        <key>spriteOffset</key>
                        <string>{1,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{111,184}</string>
                        <key>textureRect</key>
                        <string>{{650,1},{160,108}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire11.png</string>
                        <key>spriteOffset</key>
                        <string>{2,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{111,184}</string>
                        <key>textureRect</key>
                        <string>{{812,1},{160,108}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire13.png</string>
                        <key>spriteOffset</key>
                        <string>{1,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{111,184}</string>
                        <key>textureRect</key>
                        <string>{{974,1},{160,108}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire8.png</string>
                        <key>spriteOffset</key>
                        <string>{2,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{111,184}</string>
                        <key>textureRect</key>
                        <string>{{1136,1},{106,160}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire14.png</string>
                        <key>spriteOffset</key>
                        <string>{1,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{111,184}</string>
                        <key>textureRect</key>
                        <string>{{650,111},{160,108}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire4.png</string>
                        <key>spriteOffset</key>
                        <string>{1,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{111,184}</string>
                        <key>textureRect</key>
                        <string>{{812,111},{160,108}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire6.png</string>
                        <key>spriteOffset</key>
                        <string>{1,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{111,184}</string>
                        <key>textureRect</key>
                        <string>{{974,111},{160,108}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire10.png</string>
                        <key>spriteOffset</key>
                        <string>{2,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{111,184}</string>
                        <key>textureRect</key>
                        <string>{{163,112},{160,107}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire7.png</string>
                        <key>spriteOffset</key>
                        <string>{1,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{111,184}</string>
                        <key>textureRect</key>
                        <string>{{325,112},{160,107}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire9.png</string>
                        <key>spriteOffset</key>
                        <string>{2,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{111,184}</string>
                        <key>textureRect</key>
                        <string>{{487,112},{160,107}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>fireSpritesheet.1@2x.png</string>
                <key>size</key>
                <string>{1099,974}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire12@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,45}</string>
                        <key>spriteSourceSize</key>
                        <string>{222,368}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{220,322}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire15@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,45}</string>
                        <key>spriteSourceSize</key>
                        <string>{222,368}</string>
                        <key>textureRect</key>
                        <string>{{1,325},{219,322}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire2@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,45}</string>
                        <key>spriteSourceSize</key>
                        <string>{222,368}</string>
                        <key>textureRect</key>
                        <string>{{223,1},{219,322}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire3@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,45}</string>
                        <key>spriteSourceSize</key>
                        <string>{222,368}</string>
                        <key>textureRect</key>
                        <string>{{1,649},{219,322}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire5@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,45}</string>
                        <key>spriteSourceSize</key>
                        <string>{222,368}</string>
                        <key>textureRect</key>
                        <string>{{222,325},{218,323}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire11@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{3,45}</string>
                        <key>spriteSourceSize</key>
                        <string>{222,368}</string>
                        <key>textureRect</key>
                        <string>{{444,1},{218,322}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire13@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,45}</string>
                        <key>spriteSourceSize</key>
                        <string>{222,368}</string>
                        <key>textureRect</key>
                        <string>{{442,325},{218,322}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire14@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,45}</string>
                        <key>spriteSourceSize</key>
                        <string>{222,368}</string>
                        <key>textureRect</key>
                        <string>{{664,1},{218,322}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire8@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{3,45}</string>
                        <key>spriteSourceSize</key>
                        <string>{222,368}</string>
                        <key>textureRect</key>
                        <string>{{884,1},{214,322}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire1@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,45}</string>
                        <key>spriteSourceSize</key>
                        <string>{222,368}</string>
                        <key>textureRect</key>
                        <string>{{662,325},{218,322}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire10@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{3,45}</string>
                        <key>spriteSourceSize</key>
                        <string>{222,368}</string>
                        <key>textureRect</key>
                        <string>{{882,325},{216,322}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire4@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,45}</string>
                        <key>spriteSourceSize</key>
                        <string>{222,368}</string>
                        <key>textureRect</key>
                        <string>{{222,650},{218,322}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire6@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,45}</string>
                        <key>spriteSourceSize</key>
                        <string>{222,368}</string>
                        <key>textureRect</key>
                        <string>{{442,649},{218,322}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire7@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,45}</string>
                        <key>spriteSourceSize</key>
                        <string>{222,368}</string>
                        <key>textureRect</key>
                        <string>{{662,649},{216,322}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fire9@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{3,45}</string>
                        <key>spriteSourceSize</key>
                        <string>{222,368}</string>
                        <key>textureRect</key>
                        <string>{{880,649},{216,322}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
